name: Deploy League Configs

on:
  push:
    branches:
      - master

jobs:
  deploy-configs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to TF2 Server via rsync
        uses: Burnett01/rsync-deployments@v8
        with:
          switches: -avzr --delete
          path: cfg/
          remote_path: ${{ secrets.REMOTE_TARGET }}
          remote_host: ${{ secrets.SSH_HOST }}
          remote_port: ${{ secrets.SSH_PORT }}
          remote_user: ${{ secrets.SSH_USER }}
          remote_key: ${{ secrets.SSH_PRIVATE_KEY }}
          args: -e "ssh -o StrictHostKeyChecking=no" --exclude=".git*" --exclude=".github*"
          post_cmd: |
            MASTER_DIR="${{ secrets.REMOTE_TARGET }}"
            for i in {1..20}; do
              ln -sf "${MASTER_DIR}"*ozfortress*.cfg "/home/tf2/servers/sv${i}/tf/cfg/"
            done