name: Deploy League Configs

on:
  push:
    branches:
      - master

jobs:
  deploy-configs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to TF2 Server via rsync
        uses: Burnett01/rsync-deployments@v8
        with:
          switches: -avzr --delete
          path: cfg/
          remote_path: ${{ secrets.REMOTE_TARGET }}
          remote_host: ${{ secrets.SSH_HOST }}
          remote_port: ${{ secrets.SSH_PORT }}
          remote_user: ${{ secrets.SSH_USER }}
          remote_key: ${{ secrets.SSH_PRIVATE_KEY }}
          args: -e "ssh -o StrictHostKeyChecking=no" --exclude=".git*" --exclude=".github*"
          post_cmd: |
            MASTER_DIR="${{ secrets.REMOTE_TARGET }}"
            # Ensure the path ends with a slash
            [[ "$MASTER_DIR" != */ ]] && MASTER_DIR="$MASTER_DIR/"

            for i in {1..20}; do
              TARGET="/home/tf2/servers/sv${i}/tf/cfg/"
              
              if [ -d "$TARGET" ]; then
                echo "Copying configs to $TARGET"
                cp -fp "${MASTER_DIR}"*ozfortress*.cfg "$TARGET"
              else
                echo "Directory $TARGET not found, skipping..."
              fi
            done